body {
	font-family: verdana,sans;
}

h1,h2,h3 {
	font-family: arial,helvetica,verdana,sans;
}

table {
	width: 850px;
	border-collapse: collapse;
}

td, th {
	border: 1px solid #c0c0c0;
	padding: 5px;
	font-family: verdana,sans;
	font-size: 10pt;
}

.v10 {
	font-family: verdana,sans;
	font-size: 10pt;
}

.pad5 {padding: 5px;}
.w200 {width: 200px;}

.footer {
	font-family: verdana,sans;
	font-size: 10pt;
	text-align: center;
}